/* General table styling */
.data-table {
  width: 100%;
  margin: 20px 0;
  font-family: 'Roboto';
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  border: 1px solid #999999;
  border-radius: 10px;
}

/* Table header styling */
.table-header {
  background-color: #ffffff;
  padding: 10px;
  font-size: 15px;
  border-bottom: 1px solid #dbdbdb;
  border-radius: 10px;
}

/* Table row styling */
.table-row {
  border-bottom: 1px solid #d9d9d9;
}

/* Table cell styling */
.table-cell {
  padding: 10px;
}

.edit-button {
  width: 60px;
  height: 40px;
  font-family: 'Roboto';
  font-size: 12px;
  background-color: transparent;
  border: 1px solid #d9d9d9;
  color: #3c3c3c;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-right: 0px;
}

.delete-button {
  width: 60px;
  height: 40px;
  font-family: 'Roboto';
  font-size: 12px;
  background-color: transparent;
  border: 1px solid #d9d9d9;
  color: #ff274c;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
}
