.upload-notification-bar {
  width: 100%;
  height: 48px;
  background-color: #7e22ce;
  border: 0;
  border-radius: 4px;
  padding: 4px 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.upload-notification-text {
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;
}

.try-btn {
  background-color: #ffffff;
  color: #7e22ce;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: bold;
  height: 32px;
  width: 100px;
}
