.upload-empty-view {
  height: 100%;
}

.upload-heading {
  font-family: 'Roboto';
  font-size: 38px;
  color: #7e22ce;
}

.or-text {
  font-family: 'Roboto';
  font-size: 16px;
  color: #999999;
  text-align: center;
  margin: 16px 0px;
}
