.display-config-container {
  margin-top: 16px;
}

.section {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 8px;
}

.display-config-label {
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 600;
  color: #000000;
}

.inner-section-one,
.inner-section-two {
  width: 50%;
}

.inner-section-one {
  margin-right: 24px;
}
.inner-section-two {
  margin-left: 24px;
}

.input-color-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.display-input {
  margin: 6px 0px;
  margin-right: 8px;
}

.color-box {
  width: 32px;
  height: 32px;
  border-radius: 4px;
}

.line-sperator {
  color: #dadada;
  margin: 20px 0px;
}

/* SWITCH */
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 32px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

/* Slider before - round slider */
.slider:before {
  position: absolute;
  content: '';
  height: 24px;
  width: 24px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

/* When the checkbox is checked, add a blue background */
input:checked + .slider {
  background-color: #7e22ce;
}

/* Move the slider to the right when checked */
input:checked + .slider:before {
  transform: translateX(26px);
}

.section-three {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
}

.switch-main-text-heading {
  font-family: 'Roboto';
  font-size: 14px;
  color: #000000;
  font-weight: 600;
}

.display-config-msg {
  font-family: 'Roboto';
  font-size: 10px;
  color: #646464;
  margin-top: 4px;
}
