*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input:focus-visible,
textarea:focus-visible,
select:focus-visible {
  outline: none;
}

#root {
  margin: 0;
  padding: 0;
  max-width: none;
}
