.coming-soon-container {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.coming-soon-img {
  width: 60%;
}

.coming-soon-text {
  font-family: 'Roboto Bold';
  font-size: 24px;
  text-align: center;
}
