.upload-btn-main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.upload-button {
  width: 210px;
  height: 100px;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 20px;
  padding: 8px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-grow: 1;
  margin: 16px;
}

.upload-img {
  width: 70px;
}

.upload-text-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-left: 8px;
  color: #3c3c3c;
  font-weight: 600;
  font-size: 16px;
}

/* POPUP STYLES */
.upload-modal {
  width: 700px;
  padding: 20px;
  background-color: #fff;
  border-radius: 20px;
}
.upload-model-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.upload-icon-text {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.upload-modal-img {
  width: 40px;
}

.upload-header {
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 600;
  margin: 8px 12px;
}

.close-btn {
  background-color: transparent;
  width: auto;
}

.close-icon {
  width: 25px;
}

.upload-input-container {
  margin-top: 16px;
}

.upload-label {
  font-family: 'Roboto';
  font-size: 14px;
}

.upload-input {
  margin-top: 4px;
  margin-bottom: 12px;
}

.upload-btn {
  width: 120px;
}
