.getstarted-container {
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.getstarted-card {
  width: 400px;
  height: 200px;
  padding: 24px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.name-input,
.email-input {
  margin-bottom: 8px;
}

.submit-btn {
  width: 100%;
  margin-top: 20px;
}

.main-heading {
  color: #7e22ce;
  font-size: 36px;
  font-weight: 700;
  font-family: 'Roboto';
}
